article{
    a {
        font-style:italic;
        }
}

blockquote{
    background: #ffc;
    p,li{
        color: var(--md-typeset-color);
    }
}

:root {
    --md-default-bg-color: #f7e3f6;
}
body,
.md-main,
.md-main__inner,
.md-content,
.md-content__inner,
.md-sidebar,
.md-sidebar__scrollwrap {
    background-color: #f7e3f6;
}
